In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

# Player Count

In [3]:
#series for Player Count
player_count = len(purchase_data["SN"].unique())
player_count = pd.Series(player_count)

In [4]:
#creating display for Player Count (converting to dataframe)
player_count_df = pd.DataFrame({
    "Total Players": player_count
})

In [5]:
#final output
player_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

In [6]:
#display for summary data

summary_data = pd.DataFrame(
    {"Number of Unique Items": len(purchase_data["Item ID"].unique()),
    "Average Price": purchase_data["Price"].sum() / len(purchase_data),
    "Number of Purchases": len(purchase_data),
    "Total Revenue": [purchase_data["Price"].sum()]})

In [7]:
#Cleaning values
summary_data["Average Price"] = summary_data[
    "Average Price"].astype(float).map("${:,.2f}".format)
summary_data["Total Revenue"] = summary_data[
    "Total Revenue"].astype(float).map("${:,.2f}".format)

In [8]:
#final output
summary_data

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

In [9]:
#converting purchase_data to lose some data from repeat customers
no_dup = purchase_data.drop_duplicates(subset = "SN")

In [10]:
#calculating gender count
males = len(no_dup.loc[purchase_data["Gender"] == "Male", :])
females = len(no_dup.loc[purchase_data["Gender"] == "Female", :])
others = len(no_dup.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :])

In [11]:
#series of count of each gender
total_count = [males, females, others]
total_count = pd.Series(total_count)

In [12]:
#calculating gender ratios
percent_male = 100 * males / player_count
percent_female = 100 * females / player_count
percent_other = 100 * others / player_count

In [13]:
#series of gender ratios
percent_player = [percent_male, percent_female, percent_other]
percent_player = pd.Series(percent_player)

In [14]:
#series for each gender
genders = ["Male", "Female", 'Other / Non-Disclosed']
genders = pd.Series(genders)

In [15]:
#summarising previous Series into one
gender_summary = pd.DataFrame(
    {"Total Count": total_count,
    "Percentage of Players": percent_player,
    "":genders})

In [16]:
#cleaning data
gender_summary["Percentage of Players"] = gender_summary[
    "Percentage of Players"].astype(float).map("{:,.2f}%".format)
gender_summary = gender_summary.set_index("")

In [17]:
#final output
gender_summary

                       Total Count Percentage of Players

Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

In [18]:
# Segmenting purchase_data via gender
female_data = purchase_data.loc[purchase_data["Gender"] == "Female", :]
male_data = purchase_data.loc[purchase_data["Gender"] == "Male", :]
other_data = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]

In [19]:
#calculating total purchases based on gender
purchase_female = len(female_data)
purchase_male = len(male_data)
purchase_other = len(other_data)

In [20]:
#Series of purchase data based on gender
purchase_count = [purchase_female, purchase_male, purchase_other]
purchase_count = pd.Series(purchase_count)

In [21]:
#calculating average purchase value based on gender
avg_female = female_data["Price"].mean()
avg_male = male_data["Price"].mean()
avg_other = other_data["Price"].mean()

In [22]:
#Convert to series
avg_purchase =[avg_female, avg_male, avg_other]
avg_purchase = pd.Series(avg_purchase)

In [23]:
#calculations for total purchase value
total_female = female_data["Price"].sum()
total_male = male_data["Price"].sum()
total_other = other_data["Price"].sum()

In [24]:
#convert to series
total_purchase = [total_female, total_male, total_other]
total_purchase = pd.Series(total_purchase)

In [25]:
#calculations for avg purchase price per person based on gender
avg_per_female = total_female / females
avg_per_male = total_male / males
avg_per_other = total_other / others

In [26]:
#convert to series
avg_per_total = [avg_per_female, avg_per_male, avg_per_other]
avg_per_total = pd.Series(avg_per_total)

In [27]:
#new gender list so female is first
genders = ["Female", "Male", 'Other / Non-Disclosed']
genders = pd.Series(genders)

In [28]:
#displaying data
gender_purchase_summary =  pd.DataFrame(
            {"Purchase Count": purchase_count,
            "Average Purchase Price": avg_purchase,
            "Total Purchase Value": total_purchase,
            "Avg Total Purchase per Person": avg_per_total,
            "Gender": genders})

In [29]:
#cleaning data
gender_purchase_summary["Average Purchase Price"] = gender_purchase_summary[
    "Average Purchase Price"].astype(float).map("${:,.2f}".format)
gender_purchase_summary["Total Purchase Value"] = gender_purchase_summary[
    "Total Purchase Value"].astype(float).map("${:,.2f}".format)
gender_purchase_summary["Avg Total Purchase per Person"] = gender_purchase_summary[
    "Avg Total Purchase per Person"].astype(float).map("${:,.2f}".format)
gender_purchase_summary = gender_purchase_summary.set_index("Gender")

In [30]:
#final output
gender_purchase_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

In [31]:
#bin for ages
bins = [0,9,14,19,24,29,34,39,1000]
#names for the bins
age_groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [32]:
#using bins to create age demographic data
no_dup["Age Demographic"] = pd.cut(no_dup[
    "Age"], bins, labels=age_groups, include_lowest=True)

C:\Users\Jack Pan\anaconda3\envs\Pythondata\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [33]:
#calculating count of people within each age demographic
demo_count = no_dup["Age Demographic"].value_counts()
demo_count = demo_count.sort_index()

In [34]:
#conditional to age demographic proportions
percent_age = []
for agecount in demo_count: 
    agecount_percent = 100 * agecount / player_count
    percent_age.append(agecount_percent)

In [35]:
#display data
age_demographic_summary = pd.DataFrame({
    "Total Count": demo_count,
    "Percentage of Players": percent_age,    
})

In [36]:
#cleaning data
age_demographic_summary["Percentage of Players"] = age_demographic_summary[
    "Percentage of Players"].astype(float).map("{:,.2f}%".format)

In [37]:
#final output
age_demographic_summary

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

In [38]:
#bin purchase_data
purchase_data["Age Demographic"] = pd.cut(purchase_data[
    "Age"], bins, labels=age_groups, include_lowest=True)

In [39]:
#calculating purchases based on age demographics
demo_purchase_count = purchase_data["Age Demographic"].value_counts()
demo_purchase_count = demo_purchase_count.sort_index()

In [40]:
# conditional to calcuate average purchase price based on age demographics
average_purchase_age = []

for agegroup in age_groups: 
    age_group_data = purchase_data.loc[purchase_data["Age Demographic"] == agegroup, :]
    avg_price = age_group_data["Price"].sum() / len(age_group_data) 
    average_purchase_age.append(avg_price)

In [41]:
#conditional to calculate total purchase value based on age demographics
total_purchase_age = []

for agegroup in age_groups: 
    age_group_data = purchase_data.loc[purchase_data["Age Demographic"] == agegroup, :]
    total_purchase = age_group_data["Price"].sum()
    total_purchase_age.append(total_purchase)

In [42]:
#conditional to calculate avg purchase price based on age demographics per person
avg_purchase_age_per = []

for agegroup in age_groups: 
    age_group_data = purchase_data.loc[purchase_data["Age Demographic"] == agegroup, :] 
    total_people = len(no_dup.loc[no_dup["Age Demographic"] == agegroup, :])
    avg_price_per = age_group_data["Price"].sum() / total_people
    avg_purchase_age_per.append(avg_price_per)

In [43]:
#display data

purchase_age_summary = pd.DataFrame({
    "Purchase Count": demo_purchase_count,
    "Average Purchase Price": average_purchase_age,
    "Total Purchase Value": total_purchase_age,
    "Avg Total Purchase per Person": avg_purchase_age_per})

In [44]:
#cleaning data
purchase_age_index = purchase_age_summary.index
purchase_age_index.name = "Age Ranges"

purchase_age_summary["Average Purchase Price"] = purchase_age_summary[
    "Average Purchase Price"].astype(float).map("${:.2f}".format)
purchase_age_summary["Total Purchase Value"] = purchase_age_summary[
    "Total Purchase Value"].astype(float).map("${:,.2f}".format)
purchase_age_summary["Avg Total Purchase per Person"] = purchase_age_summary[
    "Avg Total Purchase per Person"].astype(float).map("${:.2f}".format)

In [45]:
#final output
purchase_age_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

In [46]:
#groupby with players
groupby_SN = purchase_data.groupby(["SN"])

#code if you wanted to sort first (but nlargest only gets the specified amount of values, not whole index)
top_price = groupby_SN["Price"].sum().nlargest()

In [47]:
#calculating total purchase value of each player
top_price = groupby_SN["Price"].sum()

top_price

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [48]:
#player list for conditional loop
top_spenders = list(top_price.index.values)

In [49]:
#conditional to count number of purchases
top_purchase_count =[]
for spender in top_spenders:
    top_data = purchase_data.loc[purchase_data["SN"] == spender, :]
    count_data = len(top_data)
    top_purchase_count.append(count_data)

In [50]:
#conditional to find average purchase price
avg_spender_price =[]
for spender in top_spenders:
    top_data = purchase_data.loc[purchase_data["SN"] == spender, :]
    top_avg_price = top_data["Price"].sum() / len(top_data)
    avg_spender_price.append(top_avg_price)

In [51]:
#display data
top_spender_summary = pd.DataFrame({
    "Purchase Count": top_purchase_count,
    "Average Purchase Price": avg_spender_price,
    "Total Purchase Value": top_price})

In [52]:
#cleaning data, sorting in order of biggest spenders
top_spender_summary = top_spender_summary.sort_values(by=["Total Purchase Value"], ascending = False)
top_spender_summary["Average Purchase Price"] = top_spender_summary[
    "Average Purchase Price"].astype(float).map("${:.2f}".format)
top_spender_summary["Total Purchase Value"] = top_spender_summary[
    "Total Purchase Value"].astype(float).map("${:.2f}".format)

In [53]:
#final output
top_spender_summary.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

In [54]:
#groupby by item and accompanying ID
groupby_ID_name = purchase_data.groupby(["Item ID", "Item Name"])

In [55]:
#calculation to find purchase count of items
popular_item_count = groupby_ID_name["Purchase ID"].count()

In [56]:
#done for the sake of a list to use for conditional loops
loop_ID = purchase_data.groupby(["Item ID"])
id_loop = loop_ID["Purchase ID"].count()
id_loop = list(id_loop.index.values)

In [57]:
#conditional for total purchase value for each item
total_item_purchase = []

for id in id_loop:
    id_data = purchase_data.loc[purchase_data["Item ID"] == id, :]
    total_value = id_data["Price"].sum()
    total_item_purchase.append(total_value)

In [58]:
#conditional to find an item's price
item_price = []

for id in id_loop:
    id_data = purchase_data.loc[purchase_data["Item ID"] == id, :]
    avg_value = id_data["Price"].sum() / len(id_data)
    item_price.append(avg_value)

In [59]:
popular_item_summary = pd.DataFrame({
    "Purchase Count": popular_item_count,
    "Item Price": item_price,
    "Total Purchase Value": total_item_purchase})

In [60]:
#cleaning data
popular_item_summary_count = popular_item_summary.sort_values(by=["Purchase Count"], ascending = False)
popular_item_summary_count["Item Price"] = popular_item_summary_count[
    "Item Price"].astype(float).map("${:.2f}".format)
popular_item_summary_count["Total Purchase Value"] = popular_item_summary_count[
    "Total Purchase Value"].astype(float).map("${:.2f}".format)

In [61]:
#final output
popular_item_summary_count.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

In [62]:
#Cleaning data such that ordered via Total Purchase Value
popular_item_summary_value= popular_item_summary.sort_values(
    by=["Total Purchase Value"], ascending = False)
popular_item_summary_value["Item Price"] = popular_item_summary_value[
    "Item Price"].astype(float).map("${:.2f}".format)
popular_item_summary_value["Total Purchase Value"] = popular_item_summary_value[
    "Total Purchase Value"].astype(float).map("${:.2f}".format)

In [63]:
#final output
popular_item_summary_value.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80